body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.container {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 20%;
    padding: 15px;
    border-right: 1px solid #ccc;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.products {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    width: 200px;
    padding: 15px;
    margin: 15px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 8px #ccc;
    text-align: center;
    transition: transform 0.3s;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card:nth-child(even) {
    background-color: #f9f9f9;
}

.product-card button {
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    background-color: #222;
    color: white;
}

.product-card button:hover {
    background-color: #555;
}

#cart {
    width: 20%;
    padding: 15px;
    border-left: 1px solid #ccc;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
